<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Free SRM Application test Suite" parallel="methods"
	thread-count="2">

	<listeners>
		<listener class-name="com.crm.qa.extentreportlistner.ExtentReportListnerNG" />
		<listener class-name="com.crm.qa.utils.MyTransformer"/>
	</listeners>
	
	        


	<test name="FreeCRM application testcases">
		<classes>
			<class name="com.crm.qa.testcases.ContactPageTest" />
			<class name="com.crm.qa.testcases.HomePageTest" />
			<class name="com.crm.qa.testcases.LoginPageTest" />
		</classes>
	</test>
</suite>